.card {
    position: relative;
    height: 250px;
    background-color: var(--surface2);
    display: grid;
    grid-template-columns: min(200px, 30%) auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "image title"
        "image skill";
    border-radius: 8px;
}

@media (max-width: 600px) {
    .card {
        grid-template-columns: 1fr;
        grid-template-rows: 15% 70% 15%;
        grid-template-areas:
            "title"
            "image"
            "skill";
    }
}

.cardMedia {
    position: relative;
    padding: 16px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    pointer-events: none;
    grid-area: image;
    margin: auto;
}

.cardMedia[data-tech="Docker"] {
    padding: 0;
    height: 50%;
    width: 50%;
}

.cardMedia[data-tech="Swift"] {
    padding: 0;
    height: 75%;
    width: 75%;
}

.cardTitle {
    display: grid;
    place-content: center;
}

.cardSkill {
    margin: auto 16px;
    border-radius: 8px;
}