.header {
  background-color: var(--surface1);
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main>* {
  scroll-margin-top: 64px;
}

.main>*:nth-child(2n+1) {
  background-color: var(--surface1);
}

.main>*:nth-child(2n) {
  background-color: var(--surface2);
}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}